<!DOCTYPE html>
<%- include ../tema/header.ejs %>
<%- include ../menu/menu.ejs %>
</div>
<div class="page-container">
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row" id="conteudo">
                    <div class="col-md-12">
                        <!-- DATA TABLE -->
                        <h3 class="title-5 m-b-35">Clientes</h3>
                        <div class="table-data__tool">
                            <div class="table-data__tool-right">
                                <button class="au-btn au-btn-icon au-btn--green au-btn--small" type="button" id="novoCliente">
                                    <i class="zmdi zmdi-plus"></i>Criar Novo Cliente</button>
                            </div>
                            <select class="filtroSelect" name="property" tabindex="-1" aria-hidden="true" id="filtroSelect">
                                                <option value="">Todos</option>
                                                <option value="1">Ativos</option>
                                                <option value="0">Inativos</option>
                                            </select>
                        </div>
                            <div class="table-responsive table-responsive-data2">
                                <table class="table table-data2">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Chave</th>
                                            <th>CPF/CNPJ</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       <% if(clientes.length > 0){ %>
                                            <% for(var i = 0; i< clientes.length; i++){ %>
                                                <% if(clientes[i].ativo != 50){ %>
                                                    <tr class="tr-shadow">	
                                                        <td><a href="cliente?id_cliente=<%= clientes[i].id_cliente %>"><span id="nome_<%= clientes[i].id_cliente %>"><%= clientes[i].nome %></span></a></td>
                                                        <td>
                                                            <span class="block-email"><%= clientes[i].chave %></span>
                                                        </td>
                                                        <td class="desc"><%= clientes[i].cpf_cnpj %></td>
                                                        <% if(clientes[i].ativo == 1){ %>
                                                            <td>Ativo</td>
                                                        <% }else{ %>
                                                            <td>Inativo</td>
                                                        <% } %>
                                                        <td>
                                                            <div class="table-data-feature">
                                                            <% if(clientes[i].ativo == 1){ %>
                                                                <button class="item" data-toggle="tooltip" data-placement="top" title="Inativar" onclick="inativarCliente(<%= clientes[i].id_cliente %>)">
                                                                    <i class="fas fa-times"></i>
                                                                </button>
                                                            <% }else{ %>
                                                                <button class="item" data-toggle="tooltip" data-placement="top" title="Ativar" onclick="ativarCliente(<%= clientes[i].id_cliente %>)">
                                                                    <i class="fas fa-check"></i>
                                                                </button>
                                                            <% } %>
                                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Deletar" onclick="deletarCliente(<%= clientes[i].id_cliente %>)">
                                                                <i class="zmdi zmdi-delete"></i>
                                                            </button>
                                                        </div>
                                                        </td>
                                                    </tr>
                                                <tr class="spacer"></tr>
                                            <% } %>
                                        <% } %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/clientes/clientes.js"></script>
<script src="assets/js/clientes/funcoes.js"></script>
</body>
</html>