<!DOCTYPE html>
<%- include ../tema/header.ejs %>
<% if(admin == 1) { %>
	<%- include ../menu/menu-admin.ejs %>
<% } else{ %>
	<%- include ../menu/menu-cliente.ejs %>
<% } %>
<div class="main-content">
	<div class="section__content section__content--p30">
		<div class="container-fluid">
			<div class="margemSelect">
				<select class="filtroSelect centroSelect" name="property" tabindex="-1" aria-hidden="true" id="filtroSelectCliente">
					<option value="">Todos</option>
					<option value="2">Aguardando início</option>
					<option value="3">Concluídos</option>
					<option value="4">Aguardando sua aprovação</option>
				</select>
			</div>
			<div class="row" id="conteudo">
				<div class="col-lg-12">
					<h3 class="title-5 m-b-35">Serviços</h3>
					<div class="table-data__tool">
						<div class="table-data__tool-right">
							<button class="au-btn au-btn-icon au-btn--green au-btn--small" type="button" id="novoServico">
							<i class="zmdi zmdi-plus"></i>Criar Novo Serviço</button>
						</div>
					</div>
				</div>
				<span id="servicos">
				<% for(var i = 0; i < servicos.length; i++){ %>
					<% 
						var dia = (servicos[i].data_solicitacao.toString()).substring(8, 10);
						var mes = retornarMes((servicos[i].data_solicitacao.toString()).substring(4, 7));
						var ano = (servicos[i].data_solicitacao.toString()).substring(11, 15);

						var horario = (servicos[i].data_solicitacao.toString()).substring(16, 21);

						var stringData = dia + '/' + mes + '/' + ano;
					%>
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header">
								<h4><%= servicos[i].nomeProjeto %></h4>
							</div>
							<div class="card-body">
							<%
							var observacaoAtual = servicos[i].observacao;

							if(observacaoAtual.includes("<br />")){	%>
								<p class="text-muted m-b-15">
									<%	
									var arrayObservacao = observacaoAtual.split("<br />");
									for(var j = 0; j < arrayObservacao.length; j++){ %> 
										<b><%= (j + 1) %>º ajuste:</b> <%= arrayObservacao[j] %><br />
									<% } %>
								</p>
							<% }else{ %>
								<p class="text-muted m-b-15"><%= servicos[i].observacao %></p>
							<% } %>
								<p class="text-muted m-b-15"><br />Status: <% switch(servicos[i].statusServico) {
									case 0: var status = "Finalizado"; break;
									case 1: var status = "Na fila"; break;
									case 3: var status = "Em andamento"; break;
									case 4: var status = "Aguardando sua aprovação"; break;
								} %><%= status %><br />
								Pedido em: <%= stringData %> às <%= horario %>

								<% if(servicos[i].data_termino != null){ 
									var dia = (servicos[i].data_termino.toString()).substring(8, 10);
									var mes = retornarMes((servicos[i].data_termino.toString()).substring(4, 7));
									var ano = (servicos[i].data_termino.toString()).substring(11, 15);
									var horarioTermino = (servicos[i].data_termino.toString()).substring(16, 21);
									var stringDataTermino = dia + '/' + mes + '/' + ano;
								%>
									<br />Finalizado em: <%= stringDataTermino %> às <%= horarioTermino %><br />
								<% } %>
								</p>
								<p class="text-muted m-b-15">
									<% if(servicos[i].statusServico == 4){ %>
										<button class="btn btn-primary" onclick="aprovarServico(<%= servicos[i].id_servico %>)">Aprovar</button>
										<button class="btn btn-primary" onclick="reprovarServico(<%= servicos[i].id_servico %>)">Reprovar</button>
									<% } %>
									<button class="btn btn-primary" onclick="editarServico(<%= servicos[i].id_servico %>)">Editar</button>
									<button class="btn btn-primary" onclick="deletarServico(<%= servicos[i].id_servico %>)">Deletar</button>
								</p>
								<% if(servicos[i].caminho_imagem != null && servicos[i].caminho_imagem != undefined && servicos[i].caminho_imagem != ''){ %>
								<div class="row">
									<div class="col-md-4">
										<img class="card-img-top" src="assets/img/uploads/<%= servicos[i].caminho_imagem %>" alt="Card image cap">
									</div>
								</div>
								<% } %>
							</div>
						</div>
					</div>
				<% } %>
			</span>
			</div>
		</div>
	</div>

<% 
	function retornarMes(stringMes){
		switch(stringMes){
			case "Jan": return "01";
			case "Feb": return "02";
			case "Mar": return "03";
			case "Apr": return "04";
			case "May": return "05";
			case "Jun": return "06";
			case "Jul": return "07";
			case "Aug": return "08";
			case "Sep": return "09";
			case "Oct": return "10";
			case "Nov": return "11";
			case "Dec": return "12";
		}
	}
%>
	<script src="assets/js/servicos/servicos.js"></script>
	<script src="assets/js/servicos/funcoes.js"></script>
</body>
</html>