<!DOCTYPE html>
<%- include ../tema/header.ejs %>
<%- include ../menu/menu-admin.ejs %>
</div>				
<div class="page-container">
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row" id="conteudo">
                    <div class="col-md-12">
                        <!-- DATA TABLE -->
                        <h3 class="title-5 m-b-35">Projeto</h3>
                        <div class="table-data__tool">
                            <div class="table-data__tool-right">
                                <button class="au-btn au-btn-icon au-btn--green au-btn--small" type="button" id="novoProjeto">
                                    <i class="zmdi zmdi-plus"></i>Criar Novo Projeto</button>
                            </div>
                        </div>
                            <div class="table-responsive table-responsive-data2">
                                <table class="table table-data2">
                                    <thead>
                                        <tr>
                                            <th>Projeto</th>
                                            <th>Serviços solicitados</th>
                                            <th>Status do Projeto</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       <% if(projetos.length > 0){ %>
                                            <% for(var i = 0; i < projetos.length; i++){ %>
                                                <% if(projetos[i].status != 50){ %>
                                                    <tr class="tr-shadow">
                                                        <td><a href="servico?projeto=<%= projetos[i].id_projeto %>"><%= projetos[i].nome %></a></td>
                                                        <td><%= projetos[i].servicos %></td>
                                                        <td class="desc">
                                                        	Status do projeto: 
                                                        	<% switch(projetos[i].status) {
                                                        	case 0: var status = "Inativo"; break;
                                                        	case 1: var status = "Ativo"; break;
                                                        }
                                                        %><%= status %></td>
                                                        <td>
                                                        <div class="table-data-feature">
                                                        <% if(projetos[i].status == 0) { %>
															<button class="item" data-toggle="tooltip" data-placement="top" title="Retomar" onclick="retomarProjeto(<%= projetos[i].id_projeto %>, <%= projetos[i].id_cliente %>)">
																<i class="fas fa-undo"></i>
															</button>
														<% } %>	
														<% if(projetos[i].status == 1) { %>					
															<button class="item" data-toggle="tooltip" data-placement="top" title="Pausar" onclick="pausarProjeto(<%= projetos[i].id_projeto %>, <%= projetos[i].id_cliente %>)">
																<i class="fas fa-pause"></i>
															</button>
														<% } %>	
															<button class="item" data-toggle="tooltip" data-placement="top" title="Excluir" onclick="excluirProjeto(<%= projetos[i].id_projeto %>, <%= projetos[i].id_cliente %>)">
																<i class="fas fa-times"></i>
															</button>
														</div>
														</td>
                                                    </tr>
                                                	<tr class="spacer"></tr>
                                            <% } %>
                                        <% } %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
	<script src="assets/js/projetos/projetos.js"></script>
	<script src="assets/js/projetos/funcoes.js"></script>
</body>
</html>