<!DOCTYPE html>
<%- include ../tema/header.ejs %>
<% if(tipo == 1){ %>
	<%- include ../menu/menu.ejs %>
<% } %>
<% if(tipo == 2){ %>
	<%- include ../menu/menu-cliente.ejs %>
<% } %>
<% if(tipo == 3){ %>
	<%- include ../menu/menu-admin.ejs %>
<% } %>
</div>
<div class="page-container">
    <div class="main-content">
        <div class="section__content section__content--p30">
        	<div class="container-fluid">
        		<div class="row" id="conteudo">
        			<div class="col-lg-12">
        				<div class="card">
        					<div class="card-header">Editar perfil</div>
        					<div class="card-body card-block">
        						<form method="post" id="editarInformacoesPerfil">
        							<div class="form-group">
        								<div class="input-group">
        									<div class="input-group-addon">
        										<i class="fa fa-user"></i>
        									</div>
        									<input type="text" id="nome" name="nome" class="form-control" required value="<%= dados.nome %>">
        								</div>
        							</div>
        							<div class="form-group">
        								<div class="input-group">
        									<div class="input-group-addon">
        										<i class="fas fa-envelope"></i>
        									</div>
        									<input type="text" id="email" name="email" class="form-control" required value="<%= dados.email %>">
        								</div>
        							</div>
        							<div class="form-actions form-group">
        								<button type="submit" class="btn btn-success btn-sm">Salvar</button>
        								<button type="click" class="btn btn-success btn-sm" id="alterarSenha">Alterar senha</button>
        							</div>
        						</form>
        					</div>
        				</div>
        			</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/usuarios/usuarios.js"></script>
</body>
</html>